body {
    margin: 0;
    box-sizing: border-box;
    padding-top: 30px;
    font-family: sans-serif;
    user-select: none;

    p {
        padding: 0;
        margin: 0;
    }

    main {
        margin: 0 auto;
        width: 80vw;
        height: 80vh;
        border: 2px solid royalblue;
        overflow: hidden;
        border-radius: 5px;
        text-align: center;
        position: relative;


        #container {
            margin: 0 auto;
            width: 99%;
            height: 80%;
            
        }
        header {
            margin-bottom: 3px;
            background-color: royalblue;
            display: flex;
            align-items: center;
            height: 40px;
            -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.549) inset;
            -moz-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.21) inset;
            box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.364) inset;

            img {
                width: 25px;
                height: 25px;
                margin-left: 5px;
            }

            p {
                color: white;
                font-family: sans-serif;
                font-weight: bold;
                margin-left: 8px;

            }
        }
        canvas {
            background-color: #000000;
        }
        .footer{
            display: flex;
            background-color: lightgray;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: left;
            padding: 10px 5px;

            div {
                margin-right: 20px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                #thickness{
                    cursor: pointer;
                }

                label {
                    cursor: pointer;
                    margin-bottom: 5px;
                }
                .footer-input {
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    overflow: hidden;
                }
                input[type="color" i] {
                    border: none;
                    
                    background-color: transparent;
                }
            }
        }
    }
}